Final Project

In [22]:
print('My name is Liping Chen')

My name is Liping Chen

In [14]:
import pandas as pd

db = pd.read_csv("/Users/lipingchen/Documents/GitHub/BIOS-584/Final/diabetes_dataset.csv")
print(db.head())
print("Number of rows and columns:", db.shape)
print(db.columns)

   age  gender ethnicity education_level  income_level employment_status  \
0   58    Male     Asian      Highschool  Lower-Middle          Employed
1   48  Female     White      Highschool        Middle          Employed
2   60    Male  Hispanic      Highschool        Middle        Unemployed
3   74  Female     Black      Highschool           Low           Retired
4   46    Male     White        Graduate        Middle           Retired

  smoking_status  alcohol_consumption_per_week  \
0          Never                             0
1         Former                             1
2          Never                             1
3          Never                             0
4          Never                             1

   physical_activity_minutes_per_week  diet_score  ...  hdl_cholesterol  \
0                                 215         5.7  ...               41
1                                 143         6.7  ...               55
2                                  57         6.4  ...               66
3                                  49         3.4  ...               50
4                                 109         7.2  ...               52

   ldl_cholesterol  triglycerides  glucose_fasting  glucose_postprandial  \
0              160            145              136                   236
1               50             30               93                   150
2               99             36              118                   195
3               79            140              139                   253
4              125            160              137                   184

   insulin_level  hba1c  diabetes_risk_score  diabetes_stage  \
0           6.36   8.18                 29.6          Type 2
1           2.00   5.63                 23.0     No Diabetes
2           5.07   7.51                 44.7          Type 2
3           5.28   9.03                 38.2          Type 2
4          12.74   7.20                 23.5          Type 2

   diagnosed_diabetes
0                   1
1                   0
2                   1
3                   1
4                   1

[5 rows x 31 columns]
Number of rows and columns: (100000, 31)
Index(['age', 'gender', 'ethnicity', 'education_level', 'income_level',
       'employment_status', 'smoking_status', 'alcohol_consumption_per_week',
       'physical_activity_minutes_per_week', 'diet_score',
       'sleep_hours_per_day', 'screen_time_hours_per_day',
       'family_history_diabetes', 'hypertension_history',
       'cardiovascular_history', 'bmi', 'waist_to_hip_ratio', 'systolic_bp',
       'diastolic_bp', 'heart_rate', 'cholesterol_total', 'hdl_cholesterol',
       'ldl_cholesterol', 'triglycerides', 'glucose_fasting',
       'glucose_postprandial', 'insulin_level', 'hba1c', 'diabetes_risk_score',
       'diabetes_stage', 'diagnosed_diabetes'],
      dtype='object')

Objective 2 - Q1 

Q1: How do income level and education level together relate to the chance of having diabetes, and does this relationship change between men and women?
Variables I will examine: diagnosed_diabetes, income_level, education_level, gender
1. diagnosed_diabetes: about 60% of people in the dataset have diagnosed diabetes
2. education_level: Most people completed highschool (45%) or Graduate school (35%), with smaller groups in Postgraduate and No formal education
3. gender: the sample is roughly balanced: 50% Female, 48% Male, and about 2% Other.

In [5]:
print(db[["diagnosed_diabetes"]].head())
print()
print(db["diagnosed_diabetes"].describe())
print()
print(db["diagnosed_diabetes"].value_counts())
print()
print("Proportion with diabetes:", db["diagnosed_diabetes"].mean())

   diagnosed_diabetes
0                   1
1                   0
2                   1
3                   1
4                   1

count    100000.000000
mean          0.599980
std           0.489904
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: diagnosed_diabetes, dtype: float64

diagnosed_diabetes
1    59998
0    40002
Name: count, dtype: int64

Proportion with diabetes: 0.59998

In [8]:
print(db[["education_level"]].head())
print()
print(db["education_level"].value_counts())
print()
print(db["education_level"].value_counts(normalize=True))

  education_level
0      Highschool
1      Highschool
2      Highschool
3      Highschool
4        Graduate

education_level
Highschool      44891
Graduate        35037
Postgraduate    14972
No formal        5100
Name: count, dtype: int64

education_level
Highschool      0.44891
Graduate        0.35037
Postgraduate    0.14972
No formal       0.05100
Name: proportion, dtype: float64

In [9]:
print(db[["gender"]].head())
print()
print(db["gender"].value_counts())
print()
print(db["gender"].value_counts(normalize=True))

   gender
0    Male
1  Female
2    Male
3  Female
4    Male

gender
Female    50216
Male      47771
Other      2013
Name: count, dtype: int64

gender
Female    0.50216
Male      0.47771
Other     0.02013
Name: proportion, dtype: float64

Objective 3 - Q1

For Q1, I will examine how income level and education level relate to diabetes status, and whether these patterns differ by gender. I will begin by reviewing the distribution of diabetes across categories of income and education. Because all variables in this aim are categorical, I will use chi-square tests to compare diabetes proportions across the different income groups and across the different education groups. To assess whether the patterns differ by gender, I will repeat these chi-square tests separately for men and for women. All analyses will be conducted in Python using pandas for data handling and the chi-square function from scipy. Bar plots will be created to show diabetes proportions by income and education, including gender-stratified plots to help visualize differences.

Objective 2 – Q2

Q2: Are people with a history of high blood pressure or heart disease more likely to have diabetes, and does this relationship change across different age groups?
Variables I will examine: diagnosed_diabetes, hypertension_history, cardiovascular_history, age
1. diagnosed_diabetes: About 60% of people in the dataset have diagnosed diabetes
2. hypertension_history: The dataset includes a mix of people with and without a history of high blood pressure
3. cardiovascular_history: A smaller portion of the sample reports having cardiovascular disease
4. age: The participants cover a wide adult age range, with a mean age in the mid-50s

In [15]:
print(db[["diagnosed_diabetes"]].head())
print()
print(db["diagnosed_diabetes"].describe())
print()
print(db["diagnosed_diabetes"].value_counts())
print()
print("Proportion with diabetes:", db["diagnosed_diabetes"].mean())

   diagnosed_diabetes
0                   1
1                   0
2                   1
3                   1
4                   1

count    100000.000000
mean          0.599980
std           0.489904
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: diagnosed_diabetes, dtype: float64

diagnosed_diabetes
1    59998
0    40002
Name: count, dtype: int64

Proportion with diabetes: 0.59998

In [16]:
print(db[["hypertension_history"]].head())
print()
print(db["hypertension_history"].value_counts())
print()
print("Proportion with hypertension history:", db["hypertension_history"].mean())

   hypertension_history
0                     0
1                     0
2                     0
3                     0
4                     0

hypertension_history
0    74920
1    25080
Name: count, dtype: int64

Proportion with hypertension history: 0.2508

In [17]:
print(db[["cardiovascular_history"]].head())
print()
print(db["cardiovascular_history"].value_counts())
print()
print("Proportion with cardiovascular disease:", db["cardiovascular_history"].mean())

   cardiovascular_history
0                       0
1                       0
2                       0
3                       0
4                       0

cardiovascular_history
0    92080
1     7920
Name: count, dtype: int64

Proportion with cardiovascular disease: 0.0792

In [18]:
print(db[["age"]].head())
print()
print(db["age"].describe())

   age
0   58
1   48
2   60
3   74
4   46

count    100000.00000
mean         50.12041
std          15.60460
min          18.00000
25%          39.00000
50%          50.00000
75%          61.00000
max          90.00000
Name: age, dtype: float64

Objective 3 - Q2

For Q2, I will assess whether people with a history of high blood pressure or cardiovascular disease have higher diabetes rates, and whether these associations differ across age groups. I will summarize diabetes status within categories of hypertension history and cardiovascular disease history. Because these variables are categorical, I will use chi-square tests to compare diabetes proportions between people with and without each condition. To evaluate whether the associations vary across age, I will divide age into categories and repeat the chi-square tests within each age group. All analyses will be performed in Python using pandas and the chi-square test function from scipy. Bar plots will be generated to display diabetes rates by hypertension and cardiovascular disease history, as well as similar plots stratified by age category.

Objective 2 – Q3

Q3: Is the chance of having diabetes different for people who sleep very little or sleep too much, compared with people who sleep a normal amount?
Variables I will examine: diagnosed_diabetes, sleep_hours_per_day
1. diagnosed_diabetes: About 60% of people in the dataset have diagnosed diabetes
2. sleep_hours_per_day: Sleep hours vary across individuals, with a wide range of daily sleep duration

In [19]:
print(db[["diagnosed_diabetes"]].head())
print()
print(db["diagnosed_diabetes"].describe())
print()
print(db["diagnosed_diabetes"].value_counts())
print()
print("Proportion with diabetes:", db["diagnosed_diabetes"].mean())

   diagnosed_diabetes
0                   1
1                   0
2                   1
3                   1
4                   1

count    100000.000000
mean          0.599980
std           0.489904
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: diagnosed_diabetes, dtype: float64

diagnosed_diabetes
1    59998
0    40002
Name: count, dtype: int64

Proportion with diabetes: 0.59998

In [20]:
print(db[["sleep_hours_per_day"]].head())
print()
print(db["sleep_hours_per_day"].describe())

   sleep_hours_per_day
0                  7.9
1                  6.5
2                 10.0
3                  6.6
4                  7.4

count    100000.000000
mean          6.997818
std           1.094622
min           3.000000
25%           6.300000
50%           7.000000
75%           7.700000
max          10.000000
Name: sleep_hours_per_day, dtype: float64

Objective 3 - Q3

For Q3, I will assess whether people with diabetes report different average sleep duration compared with people without diabetes. I will summarize the distribution of sleep_hours_per_day for both groups. Because sleep duration is a continuous variable and diabetes status is binary, I will use an independent samples t-test to compare mean sleep hours between the two groups. All analyses will be carried out in Python using pandas for data management and the t-test function from scipy. A bar plot will be created to show the mean sleep duration for the diabetes and non-diabetes groups to help illustrate the difference.

Objective 4

I will make two plots:
1. Bar plot for Research Question 1
This plot will show the percentage of people with diabetes across different income and education groups. This helps me see how socioeconomic status is related to diabetes.
2. Bar plot for Research Question 3
This plot will show the percentage of people with diabetes in short-sleep, normal-sleep, and long-sleep groups. This helps me see whether sleep duration is related to diabetes.